@model IEnumerable<EatDomicile.Web.ViewModels.Users.UsersViewModel>

@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-start">
        <h1>Liste des users</h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
        <a asp-action="Create" class="btn btn-primary">Ajouter un user</a>
    </div>
</div>
<div class="row">
    <div class="col-12 table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prix</th>
                    <th class="text-center">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="text-center">@user.FirstName</td>
                        <td class="text-center">@user.LastName</td>
                        <td class="text-center">@user.Mail</td>
                        <td class="text-center">@user.Phone</td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">Détail</a>
                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning">Modifier</a>
                            <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
