@model EatDomicile.Web.ViewModels.Drinks.DrinkDetailsViewModel

@{
    ViewData["Title"] = "Détail boissons";
}

<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-start mt-3">
        <h1>Détail d'une boisson</h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
        <a asp-action="Index" class="btn btn-primary">Retourner sur la liste des boissons</a>
        <a asp-action="Edit" asp-route-id="@(Model.Id) " class="btn btn-warning ms-2">Modifier la boisson</a>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <dl class="row">
            <dt class="col-sm-4">
                Nom :
            </dt>
            <dd class="col-sm-8">
                @(Model.Name)
            </dd>
            <dt class="col-sm-4">
                Prix :
            </dt>
            <dd class="col-sm-8">
                @(Model.Price)€
            </dd>
            <dt class="col-sm-4">
                KCal :
            </dt>
            <dd class="col-sm-8">
                @(Model.KCal)
            </dd>
            <dt class="col-sm-4">
                Type de boisson
            </dt>
            <dd class="col-sm-8">
                @(Model.Fizzy ? "Pétillant" : "Non Pétillant")
            </dd>
        </dl>
    </div>
</div>
