@model IEnumerable<EatDomicile.Web.ViewModels.Ingredients.IngredientViewModel>

@{
    ViewData["Title"] = "Ingredients";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-start">
        <h1>Liste des ingrédients</h1>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-end">
        <a asp-action="Create" class="btn btn-primary">Ajouter un ingrédient</a>
    </div>
</div>
<div class="row">
    <div class="col-12 table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Allergène</th>
                    <th class="text-center">KCal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ingredient in Model)
                {
                    <tr>
                        <td class="text-center">@ingredient.Name</td>
                        <td class="text-center">@ingredient.KCal</td>
                        <td class="text-center">@(ingredient.IsAllergen ? "Oui" : "Non")</td>
                        <td class="text-center">
                            <a asp-action="Details" asp-route-id="@ingredient.Id" class="btn btn-info">Détail</a>
                            <a asp-action="Edit" asp-route-id="@ingredient.Id" class="btn btn-warning">Modifier</a>
                            <a asp-action="Delete" asp-route-id="@ingredient.Id" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
